*{
  margin:0px;
  padding: 0px;
 box-sizing: border-box;
 font-family: Arial;
}
body{
  border:none;
}
.headersection{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(236, 171, 147);
  color: white;
  padding-top: 20px;
}
.center ul li{
  list-style:none;
  display: inline-flex;
  margin: 0px 10px;
}
.title{
  font-size: 1rem;
}
.left{
  flex: 3;
}
.center{
  flex: 4;
}
.search{
  flex: 2;
}
.search input{
  padding: 5px;
  width: 20rem;
  border-radius: 5px;
  margin-left: 100px;
}
.right{
  flex: 4;
  display: flex;
  justify-content: space-between;
  padding:0px 15px;
}
.cart{
  margin: 0px 15px 0px 0px;
  padding: 0px 0px 0px 15px;
}
.bannersection{
  margin: 10px 0px;
}
.bannerbox img{
width: 100%;
}
.menImages{
  display: flex;
  gap: 10px;
}
.menImages img{
  width: 220px;
  height: 220px;
  
}
